.cart-item {
       /* height: 360px; */
      /*width: 500px;*/
      /* min-width: 250px;  */
      /* margin: auto; */
      padding: 10px;
}

.cart-item__img {
      height: 300px;

      object-fit: contain;
}