.products-categories-container {
      display: flex;
      padding: 20px;
      justify-content: space-between;
}

.products-category {
      flex: 1;
      margin: 3px;
      height: 70vh;
      position: relative;
}

.products-category__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}