:root {
  --primary-font: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--primary-font);
}

.App {
  background: rgb(27, 27, 27);
  color: #fff;
}

.App .container {
  min-height: 100vh;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;

  object-fit: cover;

  text-align: center;
}