:root {
  --primary-font: 'Inter', sans-serif;;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--primary-font);
}

body {
  background: rgb(240, 240, 240);
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;

  object-fit: cover;

  text-align: center;
}